#pokeContainer ,.search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

#pokeContainer > div {
background-color:lightsteelblue;
width: 300px;
margin: 10px;
text-align: center;
line-height: 75px;
font-size: 30px;
}  


.div-class{
    background-color:lightsteelblue;
    padding:20px;
    margin:10px;
    width : 300px;
    text-align: center;
}

.h3-class{
  font-weight: bolder;
  font-size: 1.2em;
  padding-top: 20px;
}

.p-class{
  font-weight: inherit;
  padding-top:0px;
}